.contenedor-secuencias {
  height: auto;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  border: 2px #456268 solid;
  margin: 10px;

  .contenedor-secuencia {
    word-wrap: break-word;
    text-align: initial;
    margin: 10px 15px;
  }
}
